<div class="row new-secret-santa-container">
<div class="col-1">
  <button mat-stroked-button color="accent">Back</button>
</div>
<div class="col-11">
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">   
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Add Names To Your Secret Santa</ng-template>
        <div class="row">
          <div class="col-3">
              <mat-form-field appearance="fill">
                  <mat-label>Add Name</mat-label>
                  <input matInput placeholder="Name" [(ngModel)]="name" formControlName="firstCtrl" required (submit)="addNewUser()" >        
              </mat-form-field>
              <button mat-mini-fab color="accent" matTooltip="Add name to your secret santa" (click)="addNewUser()"><mat-icon>add</mat-icon></button>
          </div>
          <div class="col-3">
              <h3>Secret Santa Participants</h3>
              <mat-divider></mat-divider>  
              <mat-list>
                  <mat-list-item *ngFor="let user of users">
                      <new-user [newUser]="user"></new-user>
                      <button mat-mini-fab color="accent" matTooltip="Remove secret santa participant" (click)="removeUser(user)"><mat-icon>delete</mat-icon></button>
                      <mat-divider></mat-divider>
                  </mat-list-item>
              </mat-list>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>      
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Add Restrictions">
      <form [formGroup]="secondFormGroup">
        <div class="row">
          <div class="col-6">         
              <mat-form-field appearance="fill">
                <mat-label>Present Price Limit</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="$"
                       required>
              </mat-form-field>
          </div>
          <div class="col-6">
            <h3>Edit Participant Restrictions</h3>
            <mat-divider></mat-divider>
            <mat-list>
              <mat-list-item *ngFor="let user of users" class="row">
                  <new-user [newUser]="user" class="col-10"></new-user>
                  <div class="col-2">
                    <button mat-mini-fab color="accent" matTooltip="Edit Restrictions" matBadge="{{user.excludeUsers.length}}" [matBadgeHidden]="user.excludeUsers.length == 0" (click)="openUserRestrictionDialog(user)"><mat-icon>diversity_3</mat-icon></button>
                  </div>
                  <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>          
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>  
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review and Create</ng-template>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill">
              <mat-label>Present Price Limit</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="$"
                     required>
          </mat-form-field>
        </div>
        <div class="col-6">    
          <mat-list>
            <mat-list-item *ngFor="let user of users" class="row">
                <new-user matListItemLine [newUser]="user" class="col-10"></new-user>
                <div class="col-2">
                  <button mat-mini-fab color="accent" matTooltip="Edit Restrictions" (click)="openUserRestrictionDialog(user)"><mat-icon>diversity_3</mat-icon></button>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="col-12">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button>Create</button>
        </div>       
      </div>
    </mat-step>
  </mat-stepper>
</div>
</div>